/* Write your CSS here */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px;
}
.small-image {
  height: 70px;
  width: 70px;
  margin: 10px;
}
.app-name {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15px;
}
